.header {
    background-color: #f8f9fa;
    padding: 20px 0;
}


.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    color: blue;
}

.nav-link.active {
    color: purple;
}

.logo{
    width: 60px; /* Set the desired width */
    height: 60px; /* Set the same height to make it a perfect circle */
    object-fit: cover; /* Ensure the image covers the entire container */
    border-radius: 50%; /* Make the image round */
  }

.section-btn {
    font-size: 16px;
    padding: 15px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.section-btn:hover {
    background-color: #e9ecef;
    color: #0d6efd;
}

.modal-content {
    border: 2px solid #0d6efd;
}

.modal-title {
    color: #0d6efd;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-outline-primary {
    border-color: #0d6efd;
    color: #0d6efd;
}

.btn-outline-primary:hover {
    background-color: #0d6efd;
    color: white;
}

.nav-link {
    color: #000000;
}

.nav-link.active {
    color: purple;
}

.footer {
    background-color: #343a40;
    color: white;
    margin-top: 15%;
}
.post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h3 {
    color: #333;
    font-size: 22px;
    margin-bottom: 10px;
}

.post p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.post .author {
    font-weight: bold;
}

.post .category {
    font-style: italic;
    color: #888;
}

.post hr {
    border-top: 2px solid #333;
    /* Changed border thickness and color */
    margin: 15px 0;
}

.post-content {
    color: #444;
    font-size: 18px;
}