<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - GIKOKO</title>
    <link rel="icon" type="image/png" href="logo.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-aboutus.css') }}">
</head>

<body>
    <div class="logo-container text-center mt-3">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo" width="80" height="80">
    </div>

    <div class="container mt">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="text-center">
                    <h2>About Us</h2>
                    <hr>
                </div>
                <p class="lead text-center">
                    Welcome to GIKOKO, your trusted platform for seamless communication within the Ghulam Ishaq Khan
                    Institute of Engineering Sciences and Technology. Our mission is to bring students and staff
                    together through
                    a structured and intuitive platform.
                </p>

                <div class="text-center my-4">
                    <h3>Meet the Team</h3>
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                            <div class="card text-center">
                                <img src="" class="card-img-top dp-image mx-auto mt-3" alt="Usama Sadiq" width="100"
                                    height="100">
                                <div class="card-body">
                                    <h5 class="card-title">Usama<br>Sadiq</h5>
                                    <p class="card-text">2022609</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card text-center">
                                <img src="" class="card-img-top dp-image mx-auto mt-3" alt="Hassan Ahmed" width="100"
                                    height="100">
                                <div class="card-body">
                                    <h5 class="card-title">Hassan<br>Ahmed</h5>
                                    <p class="card-text">2022211</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card text-center">
                                <img src="" class="card-img-top dp-image mx-auto mt-3" alt="Abdullah Shabbir"
                                    width="100" height="100">
                                <div class="card-body">
                                    <h5 class="card-title">Abdullah Shabbir</h5>
                                    <p class="card-text">2022030</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="card text-center">
                                <img src="" class="card-img-top dp-image mx-auto mt-3" alt="Syed Faiq Haider"
                                    width="100" height="100">
                                <div class="card-body">
                                    <h5 class="card-title">Syed Faiq Haider Naqvi</h5>
                                    <p class="card-text">2022562</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center mt-5">
                    <h3>Inspiration</h3>
                    <p>
                        GIKOKO was inspired by the need to enhance communication and collaboration within the GIKI
                        community. As technology evolves, we aim to provide a platform that enables smooth connections
                        among students and staff, fostering a supportive environment for everyone.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-light text-center py-4 mt-5">
        <p>&copy; 2024 GIKOKO. All Rights Reserved.</p>
    </footer>

    <!-- JavaScript dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>